*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*хедер, лого*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-ul,
.addr-ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.studio-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.hed-link {
  margin-right: 76px;
}

.studio-h {
  color: #2e2f42;
}
.studio-f {
  color: #f4f4fd;
}

.nav-list {
  display: block;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}
.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.nav-header {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  display: flex;
  align-items: center;
}

.addr-link {
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.addr-link:hover,
.addr-link:focus {
  color: #404bbf;
}
.address-head {
  font-style: normal;
}
section {
  padding: 120px 0;
}
/*секция 1, footer backgr*/
.zag {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.section-one,
footer {
  background-color: #2e2f42;
}
.section-one {
  padding: 188px 0;
}
.section-one-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-style: Medium;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/*секция 2 */
h2.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading-three {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.hed-marg {
  margin-bottom: 8px;
}
.general-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.ul-section-two {
  display: flex;
  gap: 24px;
  max-width: 1128px;
}

.values-hd {
  margin-bottom: 8px;
}
/* секция 3 */
.section-three {
  background-color: #f4f4fd;
}
.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.gen-heading-two,
.heading-two-four-s {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-section-three {
  display: flex;
  gap: 24px;
}
.li-section-two {
  width: calc((100% - 72px) / 4);
}
.worker {
  padding: 32px 0;
}

.team-list {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.team-hd {
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  text-align: center;
}
/* секция 4 */

.div-section-four {
  display: flex;
  flex-direction: column;
}
.ul-section-four {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
}
.ul-section-four:last-child {
  margin-right: 0;
}
.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.p-s-f {
  text-align: left;
  margin-top: 8px;
}
/*футер*/

.footer {
  padding: 100px 0;
}
.fot-link {
  margin-bottom: 16px;
}
.p-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.p-footer {
  max-width: 264px;
}
